In [15]:
import os 
import re
from nltk.tokenize import word_tokenize

In [18]:
import numpy as np

In [35]:
from sklearn.utils import shuffle

In [36]:
tsybrik = pd.read_csv('data/output merged/tsybrik.csv',  sep=';')   
makhmudov = pd.read_csv('data/output merged/makhmudov.csv',  sep=';', names=["CRH", "RU"])   
korzh = pd.read_csv('data/output merged/korzh.csv',  sep=';')

In [37]:
df_concat = pd.concat([tsybrik, korzh], axis=0)
df_concat = pd.concat([df_concat, korzh], axis=0)

In [38]:
df_concat = shuffle(df_concat)

In [40]:
df_concat = df_concat.dropna()

In [41]:
df_concat.to_csv('data/output merged/data.tsv', index=False, sep="\t")

In [48]:
filename = "data/output merged/data.tsv"
filename_clean = "data/output merged/data_cleaned.tsv"
with open(filename, "r", encoding="utf-8", errors="ignore") as document_to_read, \
open(filename_clean, "a", encoding="utf-8") as document_to_write:
    lines = document_to_read.readlines()
    for line in lines:
        try:
            [kir, ru] = line.split("\t")
            kir = kir.strip()
            ru = ru.strip()
            tokens_kir = word_tokenize(kir)
            tokens_ru = word_tokenize(ru)
            words_kir = [word.lower() for word in tokens_kir if word.isalpha()][:50]
            words_ru = [word.lower() for word in tokens_ru if word.isalpha()][:50] 
            crh = ' '.join(words_kir)
            rus = ' '.join(words_ru)
            document_to_write.write(crh + "\t" + rus + "\n")
        except ValueError:
            continue
document_to_read.close()
document_to_write.close()

In [49]:
data = pd.read_csv('data/output merged/data_cleaned.tsv',  sep='\t')

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27493 entries, 0 to 27492
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   crh     27440 non-null  object
 1   ru      26694 non-null  object
dtypes: object(2)
memory usage: 429.7+ KB

In [51]:
data = data.dropna()

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26680 entries, 0 to 27492
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   crh     26680 non-null  object
 1   ru      26680 non-null  object
dtypes: object(2)
memory usage: 625.3+ KB

In [53]:
data.to_csv('data_cleaned_final.tsv', index=False, sep="\t")